.ig{
    width: 100%;
    filter: brightness(50%);
    height: 70vh;
}

.centered{
    color: blanchedalmond;
    position: absolute;
    font-size: 3.5vw;
    font-family: cursive;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container1{
    position: relative;
    text-align: center;
    color: white;
}

.bm{
    position: relative;
    margin-bottom: 4em;
}

.h2text{
    color: white;
}

.form1{
    color: white;
    margin-bottom: 4em;
}

.title,.description,.file1,.radio,.Ingredients,.fileUpload,.addIng{
    margin-left: 10vw !important;
    margin-right: 10vw !important;
    margin-bottom: 5vh;
}

.submit{
    margin:0 auto;
    display:block !important;
    height: 6vh;
    width: 8vw;
}

.addIng{
    margin-bottom: 1em;
}