.navbarcustom {
    margin-top: 1em;
    background: transparent;
    z-index: 2;
}

.linktextColor {
    color: seashell !important;
}

.navbarActive {
    background: black;
    color: white !important;
}


.imageMargin {
    margin-right: 10px;
}

.anchorParent{
    position: relative;
}

.anchorChildren{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.anchorspan {
    height: 100%;
    display: inline-flex;
    align-items: center;
    font-size: 150%;
}

.navbuttoncolor{
    background-color: black;
}

.buttonLogin {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px !important;
    font-size: 110% !important;
}

.MainNav *{
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 110%;
}